body, h1{
    font-weight: 300;
}

#Header {
    text-align: center;
    border: 100px;
    border-radius: 15px;
    padding: 10px;
    background-color: pink;
}

.prefix {
    text-align: center;
    font-size: 1rem;
}